/*
 Syntax of Css rules:
 selector{
	property: value;
 }
*/


/*Universal Selector*/
/*It targets all the elements in our webpage. */

*{

/* font-family property changes the style of the font */
	font-family: "Courier New", monospace;
/*font-size changes the size of the text*/
	font-size: 20px;
}


/*Type selector*/
h1{
	color: yellow;
}

/*ID selector*/
/*It targets only one element.*/
#zuitt-motto{
	letter-spacing: 5px;
}

/*Class Selector*/
.offering-item{
	text-transform: uppercase;
}

/*Attribute */
/*[attribute]*/
[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 93%;
}

/*h3{
	letter-spacing: 25px;
}*/


h3 + img{

/* height property changes the vertical dimensions of an element*/

	height: 300px;

/* width property changes the horizontal dimensions of an element*/
	width: 300px;

	border-radius: 150px;
}


/*Descendant Selector*/
/*element-for-reference target-element*/

#bootcamp-learning-list li{
	color: #4111c7;
}


/*General Sibling Selector*/
h2 ~ a{
/*text-decoration property changes lines included in text example, overline, underline and strike*/
	text-decoration: none;
}


/*Child selector*/
form > label{
	color: rgb(86, 119, 119);
}

body{
	background-color: skyblue;
}

section{
/*vh - viewport height */
	height: 100vh;
	text-align: center;
}

html{
	scroll-behavior: smooth;
}


nav{
	background-color: white;
}


/*pseudo tag*/
a:hover{background-color: #42edaf}

div{
	display: inline;
	float: right;
}

ol{
	list-style-type: none ;
}

form{
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 185px;
	width: 25vw;
	position: relative;
	
	left: 37.5%;

}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}