
*{
	font-family: Open Sans;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
}

nav ul{
	list-style-type: none;
	margin: 0;
 	padding: 0;
  	display: flex;
  	justify-content: space-between;
}

nav li{
	margin: 10px;
}

.right-nav {
    display: flex;
    float: right;
    padding-right: 10px;
}

.nav-logo{
	display: inline;
    list-style-type: none;
    text-align: left;
}

.tuitt-button{
	background-color:#c2195b;
	color:white;
	height: 20px;
	border-radius: 70px;
	border: 0;
}

.front-bg{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background position: center top;
	background-attachment: scroll;
}


.container{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 250px;
	text-align: right;
}

.title{
	color: white;
	text-align: right;
	margin: 10px;
	line-height: 4rem;
}
.subtitle{
	color: white;
	text-align: right;
	margin-left:auto
	line-height: 10rem;
}

.apply-button{
	color: white;
	background: #c2195b;
	border-radius: 23px;
	font-size: 0.8rem;
	padding: 0.8rem;
	margin-top: 10px;
}



.intro{
	font-family: Zilla Slab;
	text-align: center;
}

.pre-footer{

	background-color: #f7fbfb;
	text-align: center;
}

.book-button{
	background-color: #336589;
}

footer{
	text-align: center;
}