*{
	font-family: "Roboto", monospace;
	font-size: 20px;
}

#p3{color: green;}

h1{
	color: yellow;
}

h2{
	text-transform: uppercase;
}


.languageTobeLearn{
background: limegreen;
}

[name]{
	border-width: 1px;
	border-style: solid;
	border-color: navy;
	width: 93%;
}

h3+ol{
	list-style: upper-alpha ;
}


label ~ p{
text-align: center;	
}

 img{
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

section>label{
	letter-spacing: 5px
}



